/SG Code Along 1 - Hello World/nbproject/private/
/HTML5Application/nbproject/private/
/SG Code Along 2 - A Portfolio/nbproject/private/
/SG Code Along 9 - CSS - Portfolio With More CSS/nbproject/private/
/SG Code Along 9 - CSS - Portfolio With CSS Bootstrap/nbproject/private/
/SG Code Along 15 - Logging Letters/nbproject/private/
/SG Code Along 16 - If-Else/nbproject/private/
/SG Code Along 17 - For Loops/nbproject/private/
/SG Code Along 18 - Counting Characters/nbproject/private/
/SG Code Along 19 - Rolling Dice/nbproject/private
/SG Code Along 20 - Defining Functions/nbproject/private/
/SG Code Along 21 - Comparing Objects/nbproject/private/
/SG Code Along 21 - Sum of Range/nbproject/private/
/SG Code Along 22 - Sum of Range/nbproject/private/
/SG Code Along 23 - Arrays/nbproject/private/
/SG Code Along 24 - Form Validation with JS/nbproject/private/
/SG Code Along 25 - Mouse Events/nbproject/private/
/SG Code Along 26 - Display Evens/nbproject/private/
/SG Code Along 27 - Portfolio With JS and BS/nbproject/private/
/SG Code Along 27 - CSS - Portfolio JS Bootstrap/nbproject/private/
/Guessing Game scratch/nbproject/private/
/Dice Game - V1/nbproject/private/