/SG Code Along 1 - Hello World/nbproject/private/
/HTML5Application/nbproject/private/
/SG Code Along 2 - A Portfolio/nbproject/private/
/SG Code Along 9 - CSS - Portfolio With More CSS/nbproject/private/