.container
{
    width: auto;
    height: fit-content;
    background-color: grey;
}

.innerContainer #title
{
    justify-content: center;
}

.innerContainer
{
    display: grid;
    justify-content: center;
}
