#diceRoll
{
    width: auto;
    height: fit-content;
    background-color: grey;
}

#title
{
    justify-content: center;
}

#button
{
    margin:20px; /*look how to directly center it*/
}

#diceRoll
{
    padding: 40px 50px;
}

.container
{
    display: grid;
    justify-content: center;
}
